{
	"output_csv": "output/results.csv",
	"output_miss": "output/",
	"cache_sizes": [0.1],
	"traces": ["/home/ashutosh-pradhan/msr-cambridge2/MSR-Cambridge/src2_1.csv"],
	"request_count_type": "reuse",

	"algorithms": ["lfu","lru","arc","cacheus","dlirs"],

	"alecar6": {
		"learning_rate": [0.1]
	},

	"lecar": {
		"learning_rate": [0.1]
	}

}